@tailwind base;
@tailwind components;
@tailwind utilities;





html{
  scroll-behavior: smooth;
  font-family: 'Helvetica Neue', sans-serif;
}

/* Remove the default number input spinners */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none!important;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield!important;
}

/* Remove arrows for IE10 and below */
input[type="number"] {
    -webkit-appearance: none!important;
    margin: 0;
}

.font-inner{
    font-family: 'Inter', sans-serif;
}

.font-poppins{
    font-family: 'Poppins', sans-serif;
}


 
.kalpurush {
  font-family: 'Kalpurush', sans-serif;

}


/* Webkit Browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 4px;
  /* Set to 2px */
  height: 4px;
  background-color: rgb(61, 62, 62) !important;
  cursor: move !important;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(13, 153, 177) !important;
  cursor: move !important;
}


::-moz-scrollbar {
  width: 4px;
  /* Set to 2px */
  height: 4px;
  background-color: rgb(61, 62, 62) !important;
  cursor: move !important; 
}

::-moz-scrollbar-thumb {
  background-color: rgb(13, 153, 177) !important;
    cursor: move !important;
}

font-google {
  font-family: 'Kumbh Sans', sans-serif;
}

@font-face {
  font-family: SourceSansPro;
  src: url(SourceSansPro-Regular.ttf);
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}


.header {
  padding: 10px 0;
  margin-bottom: 20px;
  border-bottom: 1px solid #AAAAAA;
}

#logo {
  float: left;
  margin-top: 8px;
}

#logo img {
  height: 70px;
}

#company {
  float: right;
  text-align: right;
}


#details {
  margin-bottom: 50px;
}

#client {
  padding-left: 6px;
  border-left: 6px solid #0087C3;
  float: left;
}

#client .to {
  color: #777777;
}

/* h2.name {
  font-size: 1.4em;
  font-weight: normal;
  margin: 0;
} */

#invoice {
  float: right;
  text-align: right;
}

#invoice h1 {
  color: #0087C3;
  font-size: 2.4em;
  line-height: 1em;
  font-weight: normal;
  margin: 0  0 10px 0;
}

#invoice .date {
  font-size: 1.1em;
  color: #777777;
}

.table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 20px;
}

.table th,
.table td {
  padding: 20px;
  background: #EEEEEE;
  text-align: center;
  
  border-bottom: 1px solid #FFFFFF;
}

.table th {
  white-space: nowrap;        
  font-weight: normal;
}

.table td {
  text-align: right;
}

.table td h3{
  color: #57B223;
  font-size: 1.2em;
  font-weight: normal;
  margin: 0 0 0.2em 0;
}

.table .no {
  color: #FFFFFF;
  font-size: 1.6em;
  background: #57B223;
}

.table .desc {
  text-align: left;
}

.table .unit {
  background: #DDDDDD;
}

.table .qty {
}

.table .total {
  background: #57B223;
  color: #FFFFFF;
}

.table td.unit,
.table td.qty,
.table td.total {
  font-size: 1.2em;
}

.table .tbody tr:last-child td {
  border: none;
}

.table tfoot td {
  padding: 10px 20px;
  background: #FFFFFF;
  border-bottom: none;
  font-size: 1.2em;
  white-space: nowrap; 
  border-top: 1px solid #AAAAAA; 
}

.table tfoot tr:first-child td {
  border-top: none; 
}

.table tfoot tr:last-child td {
  color: #57B223;
  font-size: 1.4em;
  border-top: 1px solid #57B223; 

}

.table tfoot tr td:first-child {
  border: none;
}

#thanks{
  font-size: 2em;
  margin-bottom: 50px;
}

#notices{
  padding-left: 6px;
  border-left: 6px solid #0087C3;  
}

#notices .notice {
  font-size: 1.2em;
}

.loader {
  display: flex;
  background-color: #9CA3AF;
  height: 4px; /* Adjust as needed */
  width: 100%; /* Adjust as needed */
}

.loader-inner {
  width: 50px;
  height: 4px;
  background-color: #0087C3;
  animation: lineAnimation 0.05s ease-in-out infinite; /* Adjusted duration to 0.05s */
}

@keyframes lineAnimation {
  0%, 100% {
    width: 100%;
  }
  50% {
    width: 0%;
  }
}

 .bg-ree{
  background-color: red!important;
 }

 /* Add this CSS to your stylesheet */
.imgSm:hover .abs {
  display: block;
}


.wrap svg {
  width: 150px;
  padding: 0; /* Set your preferred width */
  margin: 0;
}

.wrap-2 svg {
  width: 180px;
  padding: 0!important; /* Set your preferred width */
  margin: 0!important;
}

.react-datepicker__input-container > input{
  color : black!important;
  background : transparent!important; 
}


.text_editor ul, .text_editor ol{
  list-style: inherit!important;
}

.text-control > li {
  height : 20px!important;
  
}

.multi-range-slider {
    display: flex;
    position: relative;
    border: none!important;
    border-radius: 10px;
    padding: 20px 10px;
    box-shadow: none!important;
    flex-direction: column;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.multi-range-slider .bar-left {
    width: 25%;
    background-color: #b3d5f9!important;
    border-radius: 0px -10px -10px 0px;
    box-shadow: none!important;
}.multi-range-slider .bar-right {
    width: 25%;
    background-color: #b3d5f9!important;
    border-radius: 0px 10px 10px 0px;
    box-shadow: none!important;
}


.multi-range-slider .thumb::before {
    content: '';
    background-color: white!important;
    position: absolute;
    width: 20px;
    height: 20px;
    border: solid 1px #005dff!important;
    box-shadow: none!important;
    border-radius: 50%;
    z-index: 1;
    margin: -8px -12px;
    cursor: pointer;
}



@media print {

  html,body{
  
    margin: 0!important;
    padding: 0!important;
    box-sizing: border-box;
    box-sizing: border-box;
  }
  .hide-print {
    display: none !important;
  }
  .print-data {
    display: block !important;
  }
.print-container{
  padding : 0px 100px!important;
}

}

.jodit-editor ul,
.jodit-editor ol {
  /* List styles */
  padding-left: 20px;
  /* Adjust as needed */
}

.jodit-editor ul li,
.jodit-editor ol li {
  /* List item styles */
  list-style-type: disc;
  /* Unordered list marker style */
  margin-bottom: 5px;
  /* Adjust as needed */
}

.jodit-editor ol li {
  /* Additional styles for ordered list items */
  list-style-type: decimal;
  /* Ordered list marker style */
}



/* Targeting unordered and ordered lists within JoditEditor */
.jodit-wysiwyg ul,
.jodit-wysiwyg ol {
  padding-left: 20px;
  /* Adjust as needed */
}

/* Default unordered list item */
.jodit-wysiwyg ul li {
  list-style-type: disc;
  /* Unordered list marker style */
  margin-bottom: 5px;
  /* Adjust as needed */
}

/* Specific styles for different unordered list types */
.jodit-wysiwyg ul.circle li {
  list-style-type: circle;
  /* Circle marker style */
}

.jodit-wysiwyg ul.square li {
  list-style-type: square;
  /* Square marker style */
}

/* Default ordered list item */
.jodit-wysiwyg ol li {
  list-style-type: decimal;
  /* Ordered list marker style */
  margin-bottom: 5px;
  /* Adjust as needed */
}

/* Specific styles for different ordered list types */
.jodit-wysiwyg ol.lower-alpha li {
  list-style-type: lower-alpha;
  /* Lowercase alphabetic marker style */
}

.jodit-wysiwyg ol.lower-greek li {
  list-style-type: lower-greek;
  /* Lowercase Greek marker style */
}

  .loader {
    border-top-color: #3498db;
    animation: spinner 1.5s linear infinite;
  }

  @keyframes spinner {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }


    .star-gold {
      color: yellow !important;
    }
  
    .star-gray {
      color: gray !important;
    }