@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  scroll-behavior: smooth;
}
.font-inner{
    font-family: 'Inter', sans-serif;
}

.font-poppins{
    font-family: 'Poppins', sans-serif;
}


 
.kalpurush {
  font-family: 'Kalpurush', sans-serif;

}


* {
  scrollbar-width: thin;
  scrollbar-color: rgb(13, 153, 177) black;
}

/* Works in Chrome, Edge, and Safari */
/* Width */
*::-webkit-scrollbar {
  width: 4px;
}

/* Track */
*::-webkit-scrollbar-track {
  background: black!important;
}

/* Handle */
*::-webkit-scrollbar-thumb {
  width: 4px;
  background-color: rgb(3, 61, 154)!important;
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
  background-color:transparent;
}


/* Track */
.transparent-scroll::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0)!important;
}

/* Handle */
.transparent-scroll::-webkit-scrollbar-thumb {
  width: 4px;
  background-color: rgba(3, 61, 154, 0)!important;
}

/* Handle on hover */
.transparent-scroll::-webkit-scrollbar-thumb:hover {
  background-color:transparent;
}