@tailwind base;
@tailwind components;
@tailwind utilities;

.font-inner{
    font-family: 'Inter', sans-serif;
}

.font-poppins{
    font-family: 'Poppins', sans-serif;
}



body {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent; /* For Firefox */
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-thumb {
  background-color: transparent;
}


